<div class="targets-table__cell">{{ company.name }}</div>
<div class="targets-table__cell">
	<span class="target-status target-status--{{ status.key }}">
		<fa-icon class="target-status__icon" [icon]="status.icon"></fa-icon>
		<span class="target-status__text">{{ status.description }}</span>
	</span>
</div>
<div
	*ngFor="let metric of metrics"
	class="targets-table__cell"
>
	<div class="target-metric">
		<div class="target-metric__value">
			{{ metric.formatted }}
		</div>
		<div
			*ngIf="metric.diff"
			class="target-metric__diff target-metric__diff--{{ metric.diff.sign }}"
		>
			{{ metric.diff.content }}
		</div>
	</div>
</div>
