@import 'lib';

.toolbar {
	display: flex;
	align-items: center;
	height: px(50);
	@include position(sticky, (0));
	z-index: 100;
	padding: px(12) 0;
	background: $primary;
	color: $white;

	&__container {
		display: flex;
	}
		&__nav {}
			&__btn {
				&--icon {
					opacity: 0.4;

					&:hover   { opacity: 0.65 }
					&--active { opacity: 1.0 !important }
				}
			}
		&__filter-text {
			margin-left: auto;
			padding: 0.5em 1em;
			background: $white;
			border-radius: 1em;
			line-height: 1;
		}
			&__filter-icon {
				margin-left: -0.25em;
				margin-right: 0.5em;
				color: $gray-600;
			}
			&__filter-input {
				width: 20em;
				padding: 0;
				border: 0;
			}
}
