<header class="toolbar">
  <div class="container toolbar__container">
    <nav class="nav toolbar__nav">
      <button
        [ngClass]="{
          'toolbar__btn toolbar__btn--icon btn btn--icon': true,
          'toolbar__btn--icon--active': viewMode === eViewMode.Grid
        }"
        (click)="onViewModeSet(eViewMode.Grid)"
      >
        <fa-icon class="toolbar__icon" icon="th-large"></fa-icon>
      </button>
      <button
        [ngClass]="{
          'toolbar__btn toolbar__btn--icon btn btn--icon': true,
          'toolbar__btn--icon--active': viewMode === eViewMode.Table
        }"
        (click)="onViewModeSet(eViewMode.Table)"
      >
        <fa-icon class="toolbar__icon" icon="th-list"></fa-icon>
      </button>
    </nav>
    <form class="toolbar__filter filter">
      <fa-icon class="filter__icon" icon="search"></fa-icon>
      <app-input
        id="filterQuery"
        inputClass="filter__input"
        type="text"
        [form]="filterForm"
      ></app-input>
      <div class="dropdown filter__dropdown" appDropdown>
        <button class="btn btn--icon dropdown__toggle">
          <fa-icon class="dropdown__icon" icon="caret-down"></fa-icon>
        </button>
        <nav class="nav nav--stacked dropdown__nav">
          <h5 class="dropdown__menu-heading">Search fields:</h5>
          <ul class="dropdown__menu">
            <li class="dropdown__menu-item">
              <app-checkbox
                label="Name"
                id="filterFieldName"
                inputClass="dropdown__menu-checkbox"
                [defaultValue]="true"
                [form]="filterForm"
              ></app-checkbox>
            </li>
            <li class="dropdown__menu-item">
              <app-checkbox
                label="URL"
                id="filterFieldUrl"
                inputClass="dropdown__menu-checkbox"
                [form]="filterForm"
              ></app-checkbox>
            </li>
            <li class="dropdown__menu-item">
              <app-checkbox
                label="Description"
                id="filterFieldDescription"
                inputClass="dropdown__menu-checkbox"
                [form]="filterForm"
              ></app-checkbox>
            </li>
            <li class="dropdown__menu-item">
              <app-checkbox
                label="Contacts"
                id="filterFieldContacts"
                inputClass="dropdown__menu-checkbox"
                [form]="filterForm"
              ></app-checkbox>
            </li>
          </ul>
        </nav>
      </div>
    </form>
  </div>
</header>
