@import 'lib';

.toolbar {
	display: flex;
	align-items: center;
	height: px(50);
	@include position(sticky, (0));
	z-index: 100;
	padding: px(12) 0;
	background: $primary;
	color: $white;

	&__container {
		display: flex;
	}
		&__nav {}
			&__btn {
				&--icon {
					opacity: 0.4;

					&:hover   { opacity: 0.65 }
					&--active { opacity: 1.0 !important }
				}
			}
}

.filter,
.dropdown {
	&__icon {
		color: $gray-600;
	}
}

.filter {
	position: relative;
	margin-left: auto;
	padding: 0.5em 2em 0.5em 1em;
	background: $white;
	border-radius: 1em;
	line-height: 1;

	&__icon {
		margin-left: -0.25em;
		margin-right: 0.5em;
	}
	&__input {
		width: 20em;
		padding: 0;
		border: 0;
	}
}

.dropdown {
	$block: &;

	&__toggle {
		font-size: px(16);
		@include position(absolute, (50% 0.75em));
		transform: translateY(-50%);
	}
	&__nav {
		@include position(absolute, (null 0 0));
		transform: translateY(100%);
	}
}
