@import 'lib';

:host {
	@include position(fixed, (0 0 0 0));
	z-index: 200;
	overflow-y: auto;
}
.target-dialog {
	&__overlay {
		@include position(fixed, (0 0 0 0));
		background: transparentize($black, 0.15);
	}
	&__dialog {
		margin: px(72) 0;
		position: relative;
		background: $white;
	}
}

.target-toolbar {
	$block: &;
	display: flex;
	align-items: center;
	height: px(48);
	@include position(sticky, (0));
	z-index: 300;
	background: $gray-200;

	&__btn {
		display: inline-flex;
		align-items: center;
		height: px(48);
		padding: 0 px(15);
		color: $gray-700;
		letter-spacing: 0;

		&:hover {
			background: $gray-300;
			color: $gray-900;
		}

		&--close {
			justify-content: center;
			width: px(48);
			margin-left: auto;
			padding-right: 0;
			padding-left: 0;

			#{$block}__btn-icon {
				margin: 0;
			}
		}
		&--save:hover {
			background: $green;
			color: $white;
		}
		&--delete:hover {
			background: $red;
			color: $white;
		}

		&-icon {
			font-size: px(18);
			opacity: 0.65;
			@include transition(opacity);

			&:first-child { margin-right: 0.5em }
			&:last-child  { margin-left: 0.5em }
			#{$block}__btn--close:hover & {
				opacity: 0.9;
			}
		}
	}
	&__lock-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: px(36);
		height: px(36);
		margin: 0 px(6);
		border-radius: px(18);
		color: $gray-500;
		@include transition((background, color));

		&--unlocked {
			background: $yellow;
			color: $black;
		}
	}
}

.target-content {
	padding: px(36) px(30) px(72);

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: px(24);
	}
		&__name {
			margin: 0;
		}
		&__public {
			font-size: px(24);
			margin-left: 1em;

			&--public { color: $teal }
			&--private { color: $purple }
		}

	&__url {
		display: flex;
		align-items: center;
		font-size: px(21);
		margin: 0 0 0.666em;
	}
		&__url-icon,
		&__url-text {
			color: $gray-600;
		}
		&__url-icon {
			margin-right: 0.5em;
		}
		&__url-text {
			font-weight: bold;
		}

	&__description {
		max-width: 45em;
		font-size: px(18);
	}

	&__heading {
		text-transform: uppercase;
		letter-spacing: 0.025em;
		margin: 3em 0 1.5em;
		padding-bottom: 0.666em;
		border-bottom: 1px solid $gray-300;
	}
}

.target-status {
	margin-right: px(-30);
	margin-left: auto;
	font-size: px(18);
}

.target-contacts {
	$block: &;

	&__row,
	&__col {
		@include transition(background);
	}
	&__row {
		padding: $grid-gutter-width / 2;
		margin: (-$grid-gutter-width / 2) (-$grid-gutter-width);
	}
	&__col {
		padding-top: $grid-gutter-width / 2;
		padding-bottom: $grid-gutter-width / 2;
	}
}

.target-contact {
	$block: &;
	position: relative;

	&__header {
		margin-bottom: px(12);
	}
	&__name,
	&__position {
		margin: 0;
	}
	&__position {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.025em;
	}
	&__add,
	&__delete {
		display: flex;
		align-items: center;
		justify-content: center;
		width: px(36);
		height: px(36);
		background: $black;
		color: $white;
		border-radius: px(18);
	}
	&__add {
		align-self: center;
		margin-right: px(-18);
		margin-left: px(-18);
		position: relative;
		z-index: 10;
		opacity: 0.15;
		&:hover {
			background: $green;
			opacity: 1;
		}
	}
	&__delete {
		@include position(absolute, (0 null null 0));
		transform: translateX(-85%) translateY(-100%);
		opacity: 0;

		#{$block}:hover & {
			opacity: 0.15;
		}
		&:hover {
			opacity: 1 !important;
			background: $red;
		}
		#{$block}:focus-within &:not(:focus) {
			opacity: 0 !important;
			pointer-events: none !important;
		}
	}
}
.target-contact-info {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: px(14);

	&__item {
		display: flex;
		align-items: center;
		line-height: 2;
		@include transition(opacity);

		&--disabled {
			opacity: 0.4;
		}
	}
	&__icon {
		color: $gray-600;
		margin-right: 0.5em;
	}
}

.target-finance {
	&__heading {
		margin: 0 0 px(12);
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		line-height: 1.75;
		border-bottom: 1px solid $gray-300;
		@include transition((opacity, color));

		&--disabled { opacity: 0.4 }
		&--to-delete { color: $red }
	}
	&__label {
		font-weight: 700;
	}
}

::ng-deep .target-form {
	@include transition(background);
	@at-root .target-form {
		::ng-deep .target-dialog:not(.target-dialog--locked) &:focus-within {
			background: $gray-400;
		}
	}
	.form-control {
		flex: 1 1 0;

		&__input {
			width: 100%;
			padding-right: px(15);
			padding-left: px(15);
			margin-left: px(-15);

			&:focus {
				background: $white;
				outline-offset: 0;
			}
			&.ng-dirty.ng-invalid:not(:focus) {
				color: $red;
			}
		}
	}
	&__name {
		font-size: px(36);
		font-weight: 700;
	}
	&__public {
		$element: &;

		.select-dropdown {
			&__toggle {
				padding: 0.5em 1em;
				background: $white;
				border: none;
				font-size: px(18);
				font-weight: 700;

				@at-root .select-dropdown__toggle {
					#{$element}--true &  { color: $teal }
					#{$element}--false & { color: $purple }
				}
			}
			&__icon {
				margin-left: 1em;
			}
		}
	}
	&__status {
		$element: &;
		margin-right: px(-30);
		margin-left: auto;

		.select-dropdown {
			&__toggle {
				padding: 0.447em 1em;
				color: $white;
				border: none;
				font-size: px(18);
				font-weight: 700;
				text-transform: uppercase;

				@at-root .select-dropdown__toggle {
					#{$element}--researching & { background: $blue }
					#{$element}--pending &     { background: $cyan }
					#{$element}--approved &    { background: $green }
					#{$element}--declined &    { background: $red }
				}
			}
			&__icon {
				margin-left: 2.15em;
				opacity: 0.4;
			}
		}
	}
	&__url {
		max-width: 20em;
		padding-top: 0.333em;
		padding-bottom: 0.333em;
		margin-top: -0.333em;
		margin-bottom: -0.333em;
		color: $gray-600;
		font-weight: 700;
	}
	&__description {
		max-width: 45em;
		padding: 1em px(15);
		margin-top: -1em;
		margin-bottom: -1em;
		font-size: px(18);
	}
	&__contact-name {
		font-size: px(24);
		font-weight: 700;
	}
	&__contact-position {
		text-transform: uppercase;
		letter-spacing: 0.025em;
	}
	&__contact-email,
	&__contact-phone {
		font-size: px(14);
	}
	&__metric {
		.target-form & {
			margin-left: 0; // Specificity issue
		}
		@include position(relative, (null px(-15)));
		text-align: right;
	}
}
