@import 'lib';

///-- Shared styles ------------------------------------------------------------

.target-status {
	display: flex;
	align-items: center;
	padding: 0 1em;
	color: $white;
	font-size: px(12);
	font-weight: 700;
	text-transform: uppercase;

	&--researching { background: $blue }
	&--pending     { background: $cyan }
	&--approved    { background: $green }
	&--declined    { background: $red }

	&__icon {
		font-size: 1.666em;

		&:last-child  { margin-left: 0.666em }
		&:first-child { margin-right: 0.666em }
	}
}
