<tr class="targets-table__row">
	<th class="targets-table__cell targets-table__cell--heading">Name</th>
	<th class="targets-table__cell targets-table__cell--heading">Status</th>
	<th class="targets-table__cell targets-table__cell--heading">Assets</th>
	<th class="targets-table__cell targets-table__cell--heading">Debt</th>
	<th class="targets-table__cell targets-table__cell--heading">Revenue</th>
	<th class="targets-table__cell targets-table__cell--heading">EIBTDA</th>
	<th class="targets-table__cell targets-table__cell--heading">Market Capital</th>
</tr>
