<tr class="targets-table__row">
	<th class="targets-table__cell targets-table__cell--heading">
		<app-sorter sortType="name">Name</app-sorter>
	</th>
	<th class="targets-table__cell targets-table__cell--heading">
		<app-sorter sortType="status">Status</app-sorter>
	</th>
	<th
		*ngFor="let metric of metricKeys"
		[ngClass]="[
			'targets-table__cell',
			'targets-table__cell--heading',
			'targets-table__cell--metric-heading'
		]"
	>
		<div class="metric-heading">
			<span class="metric-heading__item metric-heading__item--year">2018</span>
			<span class="metric-heading__item metric-heading__item--label">{{ metricsMap[metric].label }}</span>
			<span class="metric-heading__item metric-heading__item--diff">(+/- LY)</span>
		</div>
	</th>
</tr>
