a, button, input, textarea, select {
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	background: transparent;
	color: inherit;
	border: 0 none;
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

a, button, input[type="checkbox"], input[type="radio"], select {
	cursor: pointer;
}

a, button, input, textarea, .dropdown {
	@include interactable;
}

a {
	color: $gray-900;
	text-decoration-color: $gray-400;

	&:hover {
		color: $primary;
		text-decoration-color: transparent;
	}
}

.btn {
	$block: &;
	padding: 0.5em 1em;
	background: transparent;
	color: inherit;
	border: none;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: px(14);

	&--icon {
		padding: 0;
		font-size: px(24);

		+ #{$block}--icon {
			margin-left: 1em;
		}
	}
	&--default {
		background: $gray-400;
		color: $gray-800;

		&:hover {
			background: $white;
		}
	}
	&--primary {
		background: $primary;
		color: $white;

		&:hover {
			background: darken($primary, 10%);
		}
	}

	&--lg {
		font-size: px(18);
	}
}
