a, button, input, textarea {
	@include interactable;
}

a {
	color: $primary;
	text-decoration-color: $gray-400;

	&:hover {
		color: lighten($primary, 10%);
		text-decoration-color: transparent;
	}
}
