a, button, input, textarea, select {
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	background: transparent;
	color: inherit;
	border: 0 none;
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

a, button, input[type="checkbox"], input[type="radio"], select {
	cursor: pointer;
}

a, button, input, textarea, .dropdown {
	@include interactable;
}

a {
	color: $gray-900;
	text-decoration-color: $gray-400;

	&:hover {
		color: $primary;
		text-decoration-color: transparent;
	}
}

.btn {
	$block: &;
	padding: 0.5em 1em;
	background: transparent;
	color: inherit;
	border: none;
	-webkit-appearance: none;
	cursor: pointer;

	&--icon {
		padding: 0;
		font-size: px(24);
	}
	&--default {
		background: $gray-400;
		color: $gray-800;
		&:hover {
			background: $white;
		}
	}
	&--primary {
		background: $primary;
		color: $white;
		&:hover {
			background: darken($primary, 10%);
		}
	}
	&--success {
		background: $green;
		color: $white;
		&:hover {
			background: darken($green, 10%);
		}
	}
	&--info {
		background: $blue;
		color: $white;
		&:hover {
			background: darken($blue, 10%);
		}
	}
	&--warning {
		background: $yellow;
		color: $black;
		&:hover {
			background: $orange;
		}
	}
	&--danger {
		background: $red;
		color: $white;
		&:hover {
			background: darken($red, 10%);
		}
	}

	&--lg {
		font-size: px(18);
	}
}
