@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	font-family: $body-font;
	font-size: px(16);
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: -0.015em;
}

h1 { font-size: px(36) }
h2 { font-size: px(30) }
h3 { font-size: px(24) }
h4 { font-size: px(18) }
h5 { font-size: px(16) }
h6 { font-size: px(14) }
