@import 'lib';

.dropdown {
	$block: &;

	&__toggle {
		* {
			pointer-events: none !important;
		}
	}
	&__nav {
		display: none;
		width: 100%;
		padding: px(10);
		@include position(absolute, (null 0 0));
		transform: translateY(calc(100% + 5px));
		background: $gray-100;
		color: $gray-600;
		border: 1px solid $gray-300;
		box-shadow: 0 px(2) px(5) transparentize($black, 0.85);
		font-size: px(14);

		#{$block}--open & {
			display: flex;
		}
	}
}
