@import 'lib';

:host, .target-card {
	height: 100%;
}
.target-card {
	background: $white;
	padding: px(15);
	box-shadow: 0 0 0 transparent;
	@include transition(box-shadow, 0.2s);
	cursor: pointer;

	&:hover {
		box-shadow: 0 px(3) px(15) transparentize($black, 0.8);
	}

	&__header {
		display: flex;
		align-items: center;
		margin: 0 0 px(8);
	}
		&__name {
			margin: 0 px(12) 0 0;
		}
		&__header-icon {
			&--public { color: $green }
			&--private { color: $orange }
		}
	&__description {
		margin: 0;
	}
	&__chart {
		margin-top: px(30);
	}
}

.target-status {
	margin-left: auto;
	margin-right: px(-15);
}
