<div class="target-card">
	<header class="target-card__header">
		<h3 class="target-card__name">{{ company.name }}</h3>
		<div
			[ngClass]="[
				'target-type',
				'target-type--' + (company.isPublic ? 'public' : 'private')
			]"
		>
			<fa-icon
				class="target-type__icon"
				[icon]="company.isPublic ? 'user-chart' : 'building'"
			></fa-icon>
			<span class="target-type__text">
				{{ company.isPublic ? 'Public' : 'Private' }}
			</span>
		</div>

		<span class="target-status target-status--{{ status.key }}">
			<span class="target-status__text">{{ status.description }}</span>
			<fa-icon class="target-status__icon" [icon]="status.icon"></fa-icon>
		</span>
	</header>
	<p class="target-card__description">{{ company.description }}</p>
	<canvas class="target-card__chart" #canvas>{{ chart }}</canvas>
</div>
